html {
  height: 95%;
  width: 98%;
  font-size: 1.2em;
}

html body {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  font-family: "Raleway";
}

body .container-one {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;

  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

body .side {
  width: 27%;
}

body #right-side {
  text-align: right;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

body .central {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  
  width: 40%;
  height: 100%;
}

/* ----- Quick access ----- */

.side ul#quick-access {
  list-style-type: none;
}

.side ul#quick-access li {
  margin: 5px 7px 5px 0;
}

.side ul#quick-access li:hover {
  cursor: pointer;
  font-size: 1.05em;
  transition: font-size 300ms;
}

.side ul#quick-access .shortcut {
  font-size: 0.8em;
  font-weight: 500;
  color: rgba(1, 1, 1, 0.6);
  margin-right: 10px;
}

/* ----- Weather ----- */

#weather {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  
  width: 100%;
  margin-top: 50px;
}

.wth-city-container {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  
  padding-bottom: 30px;
  padding-left: 10px;
}

.main-weather-box {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  
  width: 100%;
}

.main-weather-box div {
  width: 27%;
}

.main-weather-box .text {
  text-align: left;
}

.main-weather-box .text .city-name {
  font-weight: 700;
}

.main-weather-box .text .weather-descr {
  font-size: 0.85em;
}

.main-weather-box .illustr img {
  width: 40px;
  height: 40px;
}

.main-weather-box .temp {
  text-align: right;
  font-weight: 700;
  font-size: 1.2em;
}

.main-weather-box .text p {
  margin: 0 0 5px 0;
}

.details-box {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  
  width: 100%;
  font-size: 0.7em;
  padding-top: 6px;
}

.details-box .floor {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  
  width: 100%;
  margin-bottom: 4px;
}

.details-box .floor div {
  width: 45%;
}

.details-box .floor div:first-child {
  text-align: left;
}

.details-box .floor div:last-child {
  text-align: right;
}

/* ----- Search bar ----- */

#search {
  width: 100%;
}

#search-bar {
  width: 100%;
  padding: 5px;
  font-family: 'Nunito Sans';
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  border-style: none none solid none;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 2px;
  z-index: 3;
}

#search-bar:focus {
  outline: none;
}

#search .engine {
  margin-top:5px;
  display: none;
  z-index: 1;
  color: rgba(1, 1, 1, 0.5);
  font-size: 0.85em;
  font-weight: 500;
}





